
.container{
  
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 27px;
}
.cards{
  border: 2px solid black;
  width: 20vw;
  border-radius: 5px;
 padding-left: 18px;
 
}
p{
  margin-top: 10px;
}